.next-prayer-container {

  background: var(--next-prayer-container-background);
  width: 47%;
  /* height: 50%; */
  margin-left: 3%;
  padding: 1.2vw;
  margin-top: 0;
  border-radius: 5%;
  margin-top: 0%;
  margin-right: 0%;
  box-shadow: var(--next-prayer-container-box-shadow);
  border: 0.7vw solid transparent;
}

.prayer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* color: var(--green-primary); */
  background: var(--next-prayer-title-color);
  background-size: 200% auto;   /* make gradient wider */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s linear infinite;
  will-change: background-position;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

#next-prayer-name {
  margin: 0;
  font-size: 4vw;
  padding-bottom: 8%;
}

.timing-details {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  row-gap: 0px;
  /* border: 1px solid red; */


}

.azan-details {

  padding-left: 0.35vw;
  display: flex;
  flex-direction: row;
  column-gap: 1.4vw;
  align-items: center;

  /* border: 1px solid green; */

}

.jamat-details {

  padding-left: 0.35vw;
  display: flex;
  flex-direction: row;
  column-gap: 1.4vw;
  align-items: center;
  /* border: 1px solid green; */
}

.azan-cls {
  font-size: 2.0vw;
  font-weight: bold;
  /* color: var(--green-primary); */
  background: var(--next-prayer-title-color);
  background-size: 200% auto;   /* make gradient wider */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s linear infinite;
  /* width: 80px; Fixed width to prevent shifting */
  text-align: center;
  /* Center align to maintain position */
  direction: rtl;
  /* Ensure correct Arabic text flow */
  display: inline-block;
  /* Keeps width fixed even when text changes */
  transition: opacity 0.5s ease-in-out;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}


.azan-cls-t {
  font-size: 3.5vw;
  font-weight: bold;
  /* color: var(--green-primary); */
  background: var(--next-prayer-title-color);
  background-size: 200% auto;   /* make gradient wider */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s linear infinite;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;


}